@import url('https://fonts.googleapis.com/css2?family=Abel&family=Atomic+Age&family=Josefin+Sans&family=Jost&family=Livvic&family=Montserrat&family=Open+Sans&family=Poppins&display=swap');
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

p,
li {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

h4,
h6 {
    font-family: 'Jost';
}